@font-face {
  font-family: 'IMHyeminFont';
  src: url('./font/IM_Hyemin-Regular.ttf');
}

@font-face {
  font-family: 'SsurroundFont';
  src: url('./font/Cafe24SsurroundAir.ttf');
}

@font-face {
  font-family: 'LeeSeoyonFont';
  src: url('./font/LeeSeoyun.ttf');
}

@font-face {
  font-family: 'NexonFont';
  src: url('./font/NEXONLv1GothicRegular.ttf');
}

@font-face {
  font-family: 'SBFontLight';
  font-weight: bold;
  src: url('./font/SBFontLight.ttf');
}

@font-face {
  font-family: 'SBFontBold';
  src: url('./font/SBFontBold.ttf');
}

@font-face {
  font-family: 'ManfuBold';
  src: url('./font/esamanru\ Bold.ttf');
}

@font-face {
  font-family: 'ManfuMedium';
  src: url('./font/esamanru\ Medium.ttf');
}

@media (max-width: 580px) {
  #root {
  }
}

@media (min-width: 899px) {
  #screen {
    display: none;
  }
  #screen3 {
    display: none;
  }
}

@media (max-width: 898px) {
  #appScreen {
    display: none;
  }
  #screen {
    height: 93%;
  }
  #screen2 {
    display: flex;
    justify-content: center;
    font-family: LeeSeoyonFont;
    font-size: 22px;
    align-items: center;
    padding: 260px 40%;
  }
  #screen1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #screen3 {
    display: none;
  }
}

@media (max-width: 620px) {
  #appScreen {
    display: none;
  }
  #screen {
    display: none;
  }
  #screen2 {
    display: none;
  }

  #screen1 {
    display: none;
  }
  #screen3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    font-size: 3em;
    font-family: NexonFont;
    color: rgb(179, 155, 242);
  }
}
