<div id="googleMap" style="width: 100%; height: 700px"></div>

<!-- <script>
  const getLocation = () => {
    if (navigator.geolocation) {
      // GPS를 지원하면
      navigator.geolocation.getCurrentPosition(
        function (position) {
          console.log(position.coords.latitude);
          return position.coords.latitude + ',' + position.coords.longitude;
        },
        function (error) {
          console.error(error);
        },
        {
          enableHighAccuracy: false,
          maximumAge: 0,
          timeout: Infinity,
        },
      );
    } else {
      alert('GPS를 지원하지 않습니다');
    }
  };

  const test = () => {
    //  let a = getLocation();
    //  if (a === undefined) test();
    //  else console.log(a);\
    let a = getLocation();
    setTimeout(() => {
      console.log(a);
    }, 5000);
  };
  test();
</script> -->

<!-- // -->
<script>
  //   const getLocation = () => {
  //     if (navigator.geolocation) {
  //       // GPS를 지원하면
  //       navigator.geolocation.getCurrentPosition(
  //         function (position) {
  //           let gps = position.coords.latitude + ',' + position.coords.longitude;

  //           console.log(gps);
  //           console.log(test2(gps));
  //           myMap(gps);
  //         },
  //         function (error) {
  //           console.error(error);
  //         },
  //         {
  //           enableHighAccuracy: false,
  //           maximumAge: 0,
  //           timeout: Infinity,
  //         },
  //       );
  //     } else {
  //       alert('GPS를 지원하지 않습니다');
  //     }
  //   };

  //   //   const test = () => {
  //   //     let a = getLocation();
  //   //     setTimeout(() => {
  //   //       if (a === undefined) test();
  //   //       else {
  //   //         console.log(a);
  //   //         return;
  //   //       }
  //   //     }, 1000);
  //   //     return;
  //   //   };
  //   function test2(gps) {
  //     console.log(gps);
  //   }

  function myMap(gps) {
    var mapOptions = {
      center: new google.maps.LatLng(gps),
      zoom: 17,
    };

    var map = new google.maps.Map(
      document.getElementById('googleMap'),
      mapOptions,
    );
  }

  //   test();
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXOOVZFsJGQO2-sW8SmECiJQmIkyGzTIQ&callback=myMap"></script>
